{% extends "base.html" %}
{% block nav %}
<a class="nav-link" href="..">Home</a>
<a class="nav-link" href="/send">Email Sender</a>
<a class="nav-link active" aria-current="page" href="#">BMI Calculator</a>
<a class="nav-link"href="/more">MORE TOOLS</a>
{% endblock %}
{% block content %}
    <h1>BMI Calculator</h1>
    <p class="lead">Type your info beow and it will automatically calculate your BMI !</a></p>
	<center>
	<form action="#" method="POST">
	<table>
        <tr>
            <td>Your weight (KG):</td>
            <td><input type="number" name="num1" required></td>
        </tr>
        <tr>
            <td>Your height (CM):</td>
            <td><input type="number" name="num2" required></td>
        </tr>
    </table>
       {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for msg in messages %}
      <br>
      <p class="lead">{{msg}}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
        <br>
    <input class="btn btn-primary" type="submit" value="Calculate" name="sendnow"><br>

</form>
</center>
{% endblock %}