{% extends "base.html" %}
{% block nav %}
<a class="nav-link" href="..">Home</a>
<a class="nav-link" href="#">Email Sender</a>
<a class="nav-link" href="/bmi">BMI Calculator</a>
<a class="nav-link"href="/more">MORE TOOLS</a>
{% endblock %}
{% block content %}
<h1>Random Number Generator</h1>
<br>
<center>
   <form action="#" method="POST">
      <table>
         <tr>
            <td>Min : </td>
            <td><input type="number" name="min" step="1" required></td>
         </tr>
         <tr>
            <td>Max : </td>
            <td><input type="number" name="max" required></td>
         </tr>
      </table>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for msg in messages %}
      <p class="lead">{{msg}}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <input class="btn btn-primary" type="submit" value="Start" name="sendnow"><br>
   </form>
</center>
{% endblock %}