{% extends "base.html" %}
{% block nav %}
<a class="nav-link" href="..">Home</a>
<a class="nav-link active" aria-current="page" href="#">Email Sender</a>
<a class="nav-link" href="/bmi">BMI Calculator</a>
<a class="nav-link"href="/more">MORE TOOLS</a>
{% endblock %}
{% block content %}
    <h1>Email Multiple Sender</h1>
    <p class="lead">Need to use Google App Password to login, <br><a class="badge badge-info" href="https://www.youtube.com/watch?v=RbJ-1VJX-yE&ab_channel=Igor" target="_blank">Click here to watch tutorial !</a></p>
	<center>
	<form action="#" method="POST">
	<table>
        <tr>
            <td>Your Gmail:</td>
            <td><input type="text" name="gm" required></td>
        </tr>
        <tr>
            <td>Your password:</td>
            <td><input type="password" name="psd" required></td>
        </tr>
        <tr>
            <td>Email Title: </td>
            <td><input type="text" name="tit" required></td>
        </tr>
        <tr>
            <td>Email Message: </td>
            <td><textarea type="text" name="msg" rows="10" cols="40" required></textarea></td>
        </tr>
        <tr>
            <td>Send to (use "," to split emails): </td>
            <td><input type="text"  name="st" size="25" required></td>
        </tr>
    </table>
    <br>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for msg in messages %}
      <p class="lead">{{msg}}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
    <br>
    <input class="btn btn-primary" type="submit" value="Send" name="sendnow">

    <br>
</form>
</center>
{% endblock %}