{% extends "base.html" %}
{% block nav %}
<a class="nav-link" href="..">Home</a>
<a class="nav-link" href="/send">Email Sender</a>
<a class="nav-link" href="/bmi">BMI Calculator</a>
<a class="nav-link" href="/more">MORE TOOLS</a>
{% endblock %}
{% block content %}
<form action="#" method="POST">
    <h1>YouTube Thumbnail Downloader</h1>
    <p>Type in a YouTube video URL to download</p>
    <center>
    <table>
        <tr>
            <td><input type="text" name="url" required></td>
             <td><input class="btn btn-primary" type="submit" value="OK" name="sendnow"></td>
        </tr>
    </table>
    </center>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    {% if msg == "Type a YouTube URL !" %}
    <p class="lead">{{msg}}</p>
    {% else %}
    <a href="{{msg}}" target="_blank"><p class="lead">{{msg}}</p></a>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
</form>
{% endblock %}